{% extends 'main/base.html' %}

{% load static %}

{% block title %}CareerLink - About{% endblock %}

{% block content %}
    
<!-- About Start -->
<div class="container-fluid py-5 my-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                <div class="h-100 position-relative">
                    <img src="{% static 'myapp/img/about-1.jpg' %}" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                    <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                        <img src="{% static 'myapp/img/about-2.jpg' %}" class="img-fluid w-100 rounded" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                <h5 class="text-primary">Біз туралы</h5>
                <h1 class="mb-4">CareerLink - Жұмыс табу платформасы</h1>
                <p>CareerLink - бұл мамандарға жұмыс табуға және компанияларға қажетті мамандарды жалдауға мүмкіндік беретін платформа. Біздің миссиямыз - әрбір адамға өзінің кәсіби дағдыларын дамытып, табысты мансап құруға көмектесу.</p>
                <p class="mb-4">Платформамыз мамандықтар бойынша тестілеуден өту арқылы мамандардың біліктілігін бағалауға негізделген. Тек сәтті тест тапсырған қатысушылардың профилдері жұмыс берушілерге қолжетімді болады, бұл жүйенің сапасын және сенімділігін арттырады.</p>
                <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">Толығырақ</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


        {% endblock content %}
