{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for spec in specializations %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="bg-light">
                <div class="p-4 text-center services-content">
                    <div class="services-content-icon">
                        <i class="{{ spec.icon }} fa-7x mb-4 text-primary"></i>
                        <h4 class="mb-3">{{ spec.title }}</h4>
                        <p class="mb-4">{{ spec.description }}</p>
                        {% if user.is_authenticated %}
                        <a href="{% url 'test' spec.id %}" class="btn btn-secondary text-white px-5 py-3 rounded-pill">Start Test</a>
                        {% endif %}

                        <a href="{% url 'view_candidates' spec.id %}" class="btn btn-primary text-white px-5 py-3 rounded-pill">View Candidates</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
